<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Hi</p>
    <section class="products">
      <ul>Available Products
        {{#each products as |product|}}
          <li class="{{product.type}}">{{product.scent}} - {{product.type}}</li>
        {{/each}}
      </ul>
    </section>
  </body>
</html>