<section class="card p-5 mb-3" id="top-card">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./images/logo.jpg" class="img-fluid rounded-start" alt="" />
    </div>
    <div id="homepage-text" class="col-md-8 text-center">
      <div class="card-body">
        <h2 id="welcome-h5" class="card-title">Welcome to Star Ray Design</h2>
        <p class="card-text">Indulge your senses with lavish, natural products
          that soothe your soul.
        </p>
        <p>Current products include soy wax candles, Goat milk soaps, and
          himilayan salt scrubs. view the shop page to view my entire selection.</p>

      </div>
    </div>
  </div>
</section>
<canvas id="canvas-basic"></canvas>

<section class="container" id="testimonal">
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>“There is nothing more beautiful than a handmade gift.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Unknown

    </figcaption>
  </figure>
</section>