
      <section class="card p-5 mb-3" id="top-card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last
                  updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </section>

      <section class="container text-center mt-5" id="shopping-categories">
        <div class="row ms-5 me-5 gap-5" id="shopping-categories">
          <div class="card col-6 text-center gap-3" style="width: 13.5rem;">
            <a href="#">
              <h5 class="card-header">Shop All</h5>
              <img src="" id="categories-bar" />
            </a>
          </div>
          <div class="card col-6 text-center gap-3" style="width: 13.5rem;">
            <a href="#">
              <h5 class="card-header">Candles</h5>
              <img src="..." class="" alt="..." />
            </a>
          </div>
          <div class="card col-6 text-center" style="width: 13.5rem;">
            <a href="#">
              <h5 class="card-header">Soaps</h5>
              <img src="..." class="" alt="..." />
            </a>
          </div>
          <div class="card col-6 text-center" style="width: 13.5rem;">
            <a href="#">
              <h5 class="card-header">Salt Scrubs</h5>
              <img src="..." class="" alt="..." />
            </a>
          </div>
        </div>
      </section>

      <section class="m-5" id="featured-products">
        <h5 class="card-title text-center">Featured Products</h5>
        <div class="card-group ms-5 me-5 gap-3">
          <div class="card">
            <img src="..." class="card-img-top" alt="..." />
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="..." />
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="..." />
          </div>
        </div>
      </section>

      <section class="container" id="testimonal">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>A well-known quote, contained in a blockquote element.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in
            <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
      </section>
