
    <section>
    <h1>PRODUCTS</h1>
    <button id="showAll">View all products</button>
    <button id="showCandles">View all candles</button>
    <button id="showSoaps">View all soaps</button>
    <section class="products">
      <ul>Available Products
        {{#each products as |product|}}
          <li class="{{product.type}}">{{product.scent}} - {{product.type}}</li>
        {{/each}}
      </ul>
    </section>